body {
    font-family: "PingFang SC", "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC",  "WenQuanYi Micro Hei", sans-serif;
    font-size:12px;
    margin:0;
    box-sizing: border-box;
    background-color: red;
    padding: 1rem;

  
  }

  @media (max-width: 1400px){
    body{
      font-size:12px / 2 ;
    }
    
  }
  @media (max-width: 900px){
    body{
      font-size:12px / 1.5;
    }
    
  }
  @media (max-width: 414px){
    body{
      font-size:12px;
    }
    
  }

  ul,li{ padding:0;margin:0;list-style:none}